<%- include("partials/header") -%>

<body class="beige-theme">
  <div class="outer-circle">
    <span class="circle beige"></span>
  </div>
  
  <%- include("partials/navbar") -%>


  <!-- Arrival Section -->
  <div class="dark">
    <div class="container-fluid">
    <div class="header">
        <h1 class="header-title"><%= postTitle %></h1>
    </div>
    </div>
    </div>

    <div class="light">
        <div class="container-fluid">
        <div class="section">
            <%- postContent %>
        </div>
        </div>
    </div>

    

  <%- include("partials/contactSection") -%>
  <%- include("partials/footer") -%>
